<!DOCTYPE html>
html(lang="ru_RU")
head
	meta(charset="UTF-8")
	title Модальность
	link(rel="stylesheet" href="css/headermodal.css")
body
	header.header
		.container
			.menu_nav.clearfix
				a.logo
				ul.menu
					li.menu__item о модальности
					li.menu__item словарь
					li.menu__item поиск
			.header__tittle 
				p Модальность
